<div class="card container" style="width: 600px; margin-bottom: 10px;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <a href="#" class="card-subtitle mb-2 text-muted">ユーザ名</a>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="text-right">
      <a href="#" class="card-link">コメント</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>